header{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;

}

main div a{
    align-items: center;
    display: flex;
}

main div a :checked{
    color: black;
}

main div img{
    border-radius: 50%;
    max-width: 40%;
    margin: 10px;
}

*{
    font-family: sans-serif;
}